package assets

import (
	"embed"
	"io/fs"

	"github.com/benbjohnson/hashfs"
)

//go:embed all:dist
var distFS embed.FS

var fsys *hashfs.FS

func init() {
	stripped, err := fs.Sub(distFS, "dist")
	if err != nil {
		panic("failed to create assets filesystem: " + err.Error())
	}
	fsys = hashfs.NewFS(stripped)
}

func FileSystem() *hashfs.FS {
	return fsys
}

func AssetURL(path string) string {
	return fsys.HashName(path)
}

func CSSURL() string {
	return AssetURL("css/app.css")
}

func JSURL() string {
	return AssetURL("js/app.js")
}
