package middleware

import (
	"net/http"

	"github.com/go-chi/chi/v5/middleware"
)

func NewCompressMiddleware() func(next http.Handler) http.Handler {
	return middleware.Compress(5,
		"text/html",
		"text/css",
		"text/plain",
		"text/javascript",
		"application/javascript",
		"application/json",
		"application/xml",
		"image/svg+xml",
	)
}
