package components

templ HTMXConfig() {
	<meta name="htmx-config" content={ `{"selfRequestsOnly":true,"inlineScriptNonce":"` + templ.GetNonce(ctx) + `","useTemplateFragments":true,"scrollBehavior":"smooth","globalViewTransitions":true}` }/>
}
