package components

templ Meta(title, description string) {
	<title>{ title } - Tracks</title>
	<meta name="description" content={ description }/>
	<meta property="og:title" content={ title }/>
	<meta property="og:description" content={ description }/>
}
