{
  "componentsDir": "internal/http/views/components/ui",
  "utilsDir": "internal/http/views/components/utils",
  "moduleName": "{{.ModuleName}}",
  "jsDir": "internal/assets/web/js",
  "jsPublicPath": "/assets/js"
}
