package pages

import (
	"fmt"

	"{{ .ModuleName }}/internal/http/views/components/ui/alert"
	"{{ .ModuleName }}/internal/http/views/layouts"
)

templ ErrorPage(statusCode int, message string) {
	@layouts.Base("Error", "An error occurred") {
		<main class="container-app py-8">
			@alert.Alert(alert.Props{
				Variant: alert.VariantDestructive,
			}) {
				@alert.Title() {
					Error { fmt.Sprintf("%d", statusCode) }
				}
				@alert.Description() {
					{ message }
				}
			}
		</main>
	}
}
