package pages

import (
	"fmt"

	"{{ .ModuleName }}/internal/http/views/layouts"
)

templ ErrorPage(statusCode int, message string) {
	@layouts.Base("Error", "An error occurred") {
		<main>
			<header>
				<h1>Error { fmt.Sprintf("%d", statusCode) }</h1>
			</header>
			<section>
				<p>{ message }</p>
			</section>
		</main>
	}
}
