package handlers

import (
	"net/http"

	"{{.ModuleName}}/internal/http/helpers"
	"{{.ModuleName}}/internal/http/views/pages"
	"{{.ModuleName}}/internal/interfaces"
)

type CountGetter interface {
	GetCount() int
}

type HomeHandler struct {
	logger  interfaces.Logger
	counter CountGetter
}

func NewHomeHandler(logger interfaces.Logger, counter CountGetter) *HomeHandler {
	return &HomeHandler{
		logger:  logger,
		counter: counter,
	}
}

func (h *HomeHandler) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	count := h.counter.GetCount()
	helpers.RenderPage(w, r, pages.HomePage(count), pages.HomePagePartial(count), h.logger)
}
