package helpers

import (
	"context"

	"github.com/alexedwards/scs/v2"
)

type contextKey string

const (
	flashKey contextKey = "flash"
)

func SetFlash(sm *scs.SessionManager, r context.Context, message string) {
	sm.Put(r, string(flashKey), message)
}

func GetFlash(sm *scs.SessionManager, r context.Context) string {
	return sm.PopString(r, string(flashKey))
}
