package http

import (
	nethttp "net/http"

	"github.com/benbjohnson/hashfs"
	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
	"{{.ModuleName}}/internal/assets"
	"{{.ModuleName}}/internal/http/handlers"
	httpmiddleware "{{.ModuleName}}/internal/http/middleware"
	"{{.ModuleName}}/internal/http/routes"
)

func (s *Server) routes() {
	s.router.Use(middleware.RequestID)
	s.router.Use(httpmiddleware.NewCompressMiddleware())
	s.router.Use(httpmiddleware.NewRequestLogger(s.logger))
	s.router.Use(middleware.RealIP)
	s.router.Use(httpmiddleware.NewRecoverer(s.logger))
	s.router.Use(httpmiddleware.NewCSPMiddleware())

	// TRACKS:API_ROUTES:BEGIN
	s.router.Get(routes.APIHealth, s.handleHealthCheck())
	// TRACKS:API_ROUTES:END

	// TRACKS:WEB_ROUTES:BEGIN
	counterHandler := handlers.NewCounterHandler(s.logger)

	s.router.Get(routes.Home, s.handleHome(counterHandler))
	s.router.Get(routes.About, s.handleAbout())

	s.router.Post(routes.CounterIncrement, counterHandler.Increment)
	s.router.Post(routes.CounterDecrement, counterHandler.Decrement)
	s.router.Post(routes.CounterReset, counterHandler.Reset)
	// TRACKS:WEB_ROUTES:END

	s.router.Group(func(r chi.Router) {
		// TRACKS:PROTECTED_ROUTES:BEGIN
		// TRACKS:PROTECTED_ROUTES:END
	})

	s.router.NotFound(s.handleError())

	s.router.Handle("/assets/*", nethttp.StripPrefix("/assets/", hashfs.FileServer(assets.FileSystem())))
}

func (s *Server) handleHealthCheck() nethttp.HandlerFunc {
	handler := handlers.NewHealthHandler(s.healthService, s.logger)
	return handler.Check
}

func (s *Server) handleHome(counter handlers.CountGetter) nethttp.HandlerFunc {
	handler := handlers.NewHomeHandler(s.logger, counter)
	return handler.ServeHTTP
}

func (s *Server) handleAbout() nethttp.HandlerFunc {
	handler := handlers.NewAboutHandler(s.logger)
	return handler.ServeHTTP
}

func (s *Server) handleError() nethttp.HandlerFunc {
	handler := handlers.NewErrorHandler(s.logger)
	return handler.ServeHTTP
}
